<table
  width='100%'
  cellpadding='0'
  cellspacing='0'
  style="border: '0px'; background-color: #ffffff; width: 100%"
  class='container'
>
  <tr width='100%' style='display: block; margin-bottom: 50px'>
    <td
      style='
            display: block;
            width: 100%;
            font-weight: bold;
            font-size: 28px;
            color: #000000;
            text-align: center;
          '
    >
      <span style="color: aquamarine;">가입조건 미충족 안내</span>
    </td>

  </tr>
  <tr width="100%">
      <td
              style='
            margin-top: 4px;
            display: block;
            width: 100%;
            font-size: 15px;
            color: #000000;
            text-align: center;
          '
      >
          제출하신 자격/면허증은 유효하지 않습니다. 확인 후 재가입 신청 바랍니다.
      </td>
  </tr>
</table>