<table
  width='100%'
  cellpadding='0'
  cellspacing='0'
  style="border: '0px'; background-color: #ffffff; width: 100%"
  class='container'
>
  <tr width='100%' style='display: block; margin-bottom: 50px'>
    <td
      style='
            display: block;
            width: 100%;
            font-weight: bold;
            font-size: 28px;
            color: #000000;
            text-align: center;
          '
    >
      <span style="color: aquamarine;">CSPF 가입해주셔서 감사합니다.</span>
    </td>

  </tr>
  <tr width="100%">
      <td
              style='
            margin-top: 4px;
            display: block;
            width: 100%;
            font-size: 15px;
            color: #000000;
            text-align: center;
          '
      >
        {{name}} 님, 가입을 성공적으로 마치셨습니다!
      </td>
  </tr>
</table>