<table
  width='100%'
  cellpadding='0'
  cellspacing='0'
  style="border: '0px'; background-color: #ffffff; width: 100%"
  class='container'
>
  <tr width='100%' style='display: block; margin-bottom: 50px'>
    <td
      style='
            display: block;
            width: 100%;
            font-weight: bold;
            font-size: 28px;
            color: #000000;
            text-align: center;
          '
    >
      <span style="color: aquamarine;">계정 강제삭제 안내</span>
    </td>

  </tr>
  <tr width="100%">
      <td
              style='
            margin-top: 4px;
            display: block;
            width: 100%;
            font-size: 15px;
            color: #000000;
            text-align: center;
          '
      >
          회원님께서는 채팅 제재 횟수를 넘기셨기에 강제 추방 당하셨습니다.
      </td>
  </tr>
</table>