<table
  width='100%'
  cellpadding='0'
  cellspacing='0'
  style="border: '0px'; background-color: #ffffff; width: 100%"
  class='container'
>
  <tr width='100%' style='display: block; margin-bottom: 50px'>
    <td
      style='
            display: block;
            width: 100%;
            font-weight: bold;
            font-size: 28px;
            color: #000000;
            text-align: center;
          '
    >
      <span style="color: aquamarine;">이메일 인증번호</span>  안내입니다.
    </td>
    <td
      style='
            margin-top: 4px;
            display: block;
            width: 100%;
            font-size: 15px;
            color: #000000;
            text-align: center;
          '
    >
      발급된 인증번호를 이용하여 인증을 마치십시오.
    </td>
  </tr>
  <tr width="100%">
    <td
      style='
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
          '
    >
      <div
        style='
              background: #f3f3f3;
              padding: 20px 34px 12px 34px;
              width: 450px;
              border-radius: 8px;
              color: #4b5550;
              font-size: 15px;
            '
      >
        인증번호 : {{code}}
      </div>
    </td>
  </tr>
</table>